@model ProyectoAerolineaWeb.Models.Pasajeros
<img class="img-vcantidad" src="/img/Pcantidad/cantidad.jpg" alt="Imagen de fondo de pasajeros" />
@if (TempData != null && TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData != null && TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

@if (ViewBag.AsientosDisponibles != null)
{
    <div class="alert alert-info">
        Asientos disponibles: @ViewBag.AsientosDisponibles
    </div>
}

<div id="Cantidad" class="container-fluid">
    <h1>Su vuelo es el número: @Model.VueloId</h1>
    <h1 class="text-primary">Selecciona cantidad de pasajeros</h1>
    <form asp-action="Cantidad" method="post">
        <input type="hidden" asp-for="VueloId" />
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Ancianos">Ancianos</label>
                <select id="Ancianos" class="form-control" asp-for="Ancianos">
                    <option>0</option>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="Adultos">Adultos</label>
                <select id="Adultos" class="form-control" asp-for="Adultos">
                    <option>0</option>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="Niños">Niños</label>
                <select id="Niños" class="form-control" asp-for="Niños">
                    <option>0</option>
                    <option selected>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>