@using Microsoft.AspNetCore.Http

<video class="video-fondo" autoplay loop muted playsinline>
    <source src="/mp4/3593-172488287.mp4" type="video/mp4">
    Tu navegador no soporta el video de fondo.
</video>

<div class="container contenido-superior">
    <div class="row">
        <div class="col-12 text-center">
            <h2>
                Descubre un nuevo estándar en comodidad, eficiencia y servicio aéreo. Gestiona tus vuelos, ciudades y tarifas de forma rápida y sencilla.
            </h2>
        </div>
        <div class="col-12 text-center">
            @if (ViewContext.HttpContext.Session.GetString("UserName") != null)
            {
                <h1>¡Bienvenido, @ViewContext.HttpContext.Session.GetString("UserName")!</h1>
                <a href="@Url.Action("Logout", "Login")" class="btn btn-danger mt-3">Cerrar sesión</a>
            }
            else
            {
                <h1>¡Bienvenido a nuestra plataforma!</h1>
            }
        </div>
    </div>
</div>