<img class="img-fondonosotros" src="/img/Nosotros/nosostros.jpg" alt="Imagen de fondo de quienes somos" />

@{
    ViewData["Title"] = "Quienes somos";
}
<div id="privacidad">
    <h1>@ViewData["Title"]</h1>
</div>

<p>
    En nuestra aerolínea, conectamos personas, ciudades y sueños. Nos enfocamos en ofrecer una experiencia de vuelo cómoda, segura y eficiente, combinando tecnología de vanguardia con un servicio al cliente excepcional.
    Nuestro compromiso es hacer que cada viaje sea más que un traslado: una experiencia que comience desde el momento en que planeas tu vuelo hasta tu llegada a destino.
    Con un enfoque claro en la puntualidad, la atención personalizada y la mejora continua, trabajamos cada día para que volar con nosotros sea siempre tu mejor elección.
</p>