@{
    ViewData["Title"] = "Quienes somos";
}
<div id="privacidad">
<h1>@ViewData["Title"]</h1>
</div>

<p>
    En nuestra aerolínea, conectamos personas, ciudades y sueños. Nos enfocamos en ofrecer una experiencia de vuelo cómoda, segura y eficiente, combinando tecnología de vanguardia con un servicio al cliente excepcional.
    Nuestro compromiso es hacer que cada viaje sea más que un traslado: una experiencia que comience desde el momento en que planeas tu vuelo hasta tu llegada a destino.
    Con un enfoque claro en la puntualidad, la atención personalizada y la mejora continua, trabajamos cada día para que volar contigo sea siempre la mejor elección.
</p>
